body {
	background-image: url('data:image/svg+xml;charset=utf8,%3Csvg%20viewBox%3D%220%200%20512%20512%22%20width%3D%22512%22%20height%3D%22512%22%20version%3D%221.1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%20%3Cfilter%20id%3D%22noise%22%3E%20%3CfeTurbulence%20type%3D%22fractalNoise%22%20baseFrequency%3D%220.875%22%20result%3D%22noise%22%20%2F%3E%20%3CfeColorMatrix%20type%3D%22matrix%22%20values%3D%220.9375%200%200%200%200%200%200.69921875%200%200%200%200%200%200.99609375%200%200%200%200%200%200.33984375%200%22%20%2F%3E%20%3C%2Ffilter%3E%20%3Crect%20filter%3D%22url%28%23noise%29%22%20x%3D%220%22%20y%3D%220%22%20width%3D%22512%22%20height%3D%22512%22%20fill%3D%22transparent%22%20opacity%3D%221%22%20%2F%3E%3C%2Fsvg%3E'), radial-gradient(117% 74% at 100% 77%, #B5F7EB 0%, #6798E0 80%, #8A6EDB 100%);
        background-size: 512px, auto;
        background-position: center, 0% 0%;
        background-repeat: repeat, repeat;
    }

    #text02 {
 color:  #B3D1FF;;
 
    
        font-family: 'Inter', sans-serif;
        letter-spacing: -0.2rem;
        width: 100%;
        font-size: 3.3em;
        line-height: 0.87;
        font-weight: 600;
       /
        -webkit-background-clip: text;

    }
strong {
        color: inherit;
        font-weight: bolder;
    }

    #divider01:before {
        width: 100%;
        background-color: rgba(0, 0, 0, 0.078);
        height: 1px;
        border-radius: 0px;
        width: 100rem;
    }

#main {
  --spacing: 2rem;
  --width: 35rem;

  padding: 100px;
  max-width: 30%;
  justify-content: center;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  align-items: center;
  background-color: transparent;
}

.social-icons
{
  padding-left:0;
  margin-bottom:0;
  list-style: none;
  margin-left: 50px;

}
.social-icons li
{
  display:inline-block;
  margin-bottom:0px
}

.social-icons a{
   margin-right:-8px;
  margin-top: 6px;
  
  color:#fff;
  line-height:44px;
  width:50px;
  height:45px;
  font-size:25px;
  display:inline-block;
  text-align:center;
}
.social-icons a:active,.social-icons a:focus,

.social-icons a:hover
{
  color:#C1A2F5 ;
  
}

.social-icons i{
  margin-top: -17px;
  margin-left: -125px;
}
/*.social-icons p {
  padding: 0em 4em 0em 4em;
}*/


    #hi{
       
 
  justify-content: center !important;
  position: absolute;
  top: 55%;
  left: 50%;

  transform: translate(-50%, -50%);
        width: 125px;
        padding:  5px;
        
  line-height: 2rem;
  display: flex;
 
        
        font-family: sans-serif;
   background-color: #71A2EB;
       
        background-image: linear-gradient(45deg, rgba(130, 103, 207, 0.71) 0%, rgba(113, 162, 235, 0.008) 60%);
        background-position: 0% 0%;
        background-repeat: repeat;
        background-size: cover;
        text-decoration: none !important;
        font-size: 1em;
        font-weight: 400;
        border-radius: 0.5rem;       
        color: white;
       
    }


     #hi2{
       
 
  justify-content: center !important;
  position: absolute;
  top: 64%;
  left: 50%;
  transform: translate(-50%, -50%);
        width: 125px;
        padding:  5px;
        
  line-height: 2rem;
  display: flex;
 
        
        font-family: sans-serif;
   
        font-size: 1em;
        font-weight: 400;
        border-radius: 0.5rem;
/*background-color: #2A2080;*/
        color: white;
        background-color: #71A2EB;
       
        background-image: linear-gradient(45deg, rgba(130, 103, 207, 0.71) 0%, rgba(113, 162, 235, 0.008) 60%);
        background-position: 0% 0%;
        background-repeat: repeat;
        background-size: cover;
        text-decoration: none !important;
       
    }

     #hi3{
       
 
  justify-content: center !important;
  position: absolute;
  top: 73%;
  left: 50%;
  transform: translate(-50%, -50%);
        width: 125px;
        padding:  5px;
        
  line-height: 2rem;
  display: flex;
        font-family: sans-serif;
   
        font-size: 1em;
        font-weight: 400;
        border-radius: 0.5rem;

        color: white;
        background-color: #71A2EB;
       
        background-image: linear-gradient(45deg, rgba(130, 103, 207, 0.71) 0%, rgba(113, 162, 235, 0.008) 60%);
        background-position: 0% 0%;
        background-repeat: repeat;
        background-size: cover;
        text-decoration: none !important;

    }

     #hi2 a {
  text-decoration: none; 
  color: inherit;
}



    #hi3 a {
  text-decoration: none; 
  color: inherit;
}

